!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title テスト
    %link{:href => "./style.css", :rel => "stylesheet"}/
  %body
    %header.header
      %ul.lists
        %li.list HOME
        %li.list.list--black HELP
        %li.list ABOUT
        %li.list.list--black CONTACT
    .contents
      .left-content
        .blue-content
    .footer

